.DS_Store
node_modules
/dist
**/node_modules/
**/dist/
/dbs
labs/К3440/Макаров Егор/lab2/api/runtime/
__pycache__/
static/
media/
celerybeat-schedule

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vim files
*~
*.swp
labs/К3440/Макаров Егор/lab3/api/runtime/
